@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body { overflow-x: hidden; }

/*----------------------------------------------Fonts*/

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel", sans-serif;
}

/*----------------------------------------------Header*/

.navbar {
    text-decoration: none;
    margin-bottom: 0;
    border-radius: 0px;
    z-index: 1;
    position: fixed;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #02AAB0;
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: #00CDAC;
}

.nav-link {
    font-size: 110%;
    font-weight: 500;
}

.logo h1 {
    font-weight: 600;
    font-size: 150%;
    color:#fafafa;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    float: left;
}

/*----------------------------------------------Main Heading*/

.main-heading h1 {
    font-weight: 600;
    font-size: 400%;
    color: #fafafa;
    text-align: center;
    margin-top: 200px;
}

/*----------------------------------------------About Me*/

.bg-image {
    background: url(../images/gibson.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 95vh;
    width: 100%;
    margin-top: 11px;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 96.55%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 0;
}

.about-me-heading {
    font-style: oblique;
    color: #fafafa;
    text-align: center;
    padding-top: 30px;
}

.about-me-text {
    font-size: 125%;
    color: #fafafa;
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 40px;
    margin-left: 40px;
}


.more-info-text {
    font-size: 125%;
    color: #fafafa;
    text-align: center;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 40px;
    margin-left: 40px;
}

.more-info-text a {
    color: #02AAB0;
    text-decoration: none;
}

.more-info-text a:hover {
    color: #00CDAC;
}

/*----------------------------------------------Steps*/

.steps {
     text-align: center;
     margin-top: 40px;
}

.steps i {
    font-size: 250%;
    color: #00CDAC;
}

.goals, .track-progress, .results {
    margin-top: 250px;
}

.goals-text, .progress-text, .results-text {
    font-weight: 500;
    font-size: 110%;
}

/*----------------------------------------------Media*/

.media {
    display: block;
    font-weight: 500;
    font-size: 110%;
    color: #343a40;
}

.media-heading {
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 10px;
}

.info-1, .info-2 {
    background: linear-gradient(to right, #00CDAC, #02AAB0);
    margin: 30px;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    color: #fafafa;
}

#video-1, #video-2 {
    width: 560px;
    height: 315px;
}

iframe {
   display: block;
   margin: 0 auto;
}

/*----------------------------------------------Testimonials*/

.testimonials-heading {
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 60px;
}


.testimonials-text-1, .testimonials-text-2, .testimonials-text-3{
    display: inline-block;
    text-align: center;
    margin: 0;
}

.testimonials-text-1 span, .testimonials-text-2 span, .testimonials-text-3 span {
    font-family: "Cinzel", sans-serif;
    font-size: 120%;
}

.testimonials-img-1, .testimonials-img-2, .testimonials-img-3 {
    height: 400px;
    width: 400px;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    overflow: hidden;
}

.testimonials-img-1 {
    background: url(../images/testimonial-1.jpg);
    background-repeat: no-repeat;
}

.testimonials-img-2 {
    background: url(../images/testimonial-2.png);
    background-repeat: no-repeat;
}

.testimonials-img-3 {
    background: url(../images/testimonial-3.png);
    background-repeat: no-repeat;
}
/*----------------------------------------------News*/

.news-heading, .news {
    text-align: center;
}

.news-heading {
    margin-top: 60px;
}

/*----------------------------------------------Contact*/

.form-section {
    background: url(../images/gibson2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background-position: center;
    clear: both;
    color: #fafafa;
    margin-top: 40px;
    margin-bottom: 20px;
}

.form {
    background-color: rgba(60, 60, 60, 0.8);
    height: 600px;
}

.contact-form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.contact-form h4 {
    padding-top: 10px;
    font-size: 125%;
}

.text-input {
    display: block;
    width: 400px;
    margin-bottom: 5px;
    
}

.message {
    display: block;
    margin-top: 10px;
}

#message {
    display: block;
    max-width: 400px;
    color: black;
}

#experience {
    margin-left: 5px;
    margin-right: 5px;
}

.btn {
    margin-top: 10px;
    background-color: #00CDAC;
    border-color: #02AAB0;
}

.btn:hover {
    background-color: #02AAB0;
    border-color: #00CDAC;
}


/*----------------------------------------------Footer*/

.container-fluid {
    padding: 0;
    margin: 0;
}



.footer {
    display: block;
    font-size: 125%;
    color: #343a40;
    text-align: center;
    position: relative;
}

.copyright {
    font-size: 70%;
    padding-bottom: 10px;
}

.list-inline-item a i {
    color: #343a40;
    font-size: 150%;
    letter-spacing: 20px;
}

.list-inline-item a i:hover {
    color: #00CDAC;
    transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.email-address {
    margin-right: 20px;
}

.email-address a {
    color: #343a40;
}

.email-address a i {
    font-size: 120%;
}

.email-address a i:hover {
    color: #00CDAC;
    transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

/*----------------------------------------------Media Queries*/

@media screen and (max-width:500px) 
{   
    .main-heading {
        margin-top: 20px;
    }

    .about-me-text {
        padding:0;
        margin-top: 10px;
    }

    .more-info-text {
        padding: 0;
        margin-top: 10px;
    }

    .bg-image {
        height: 190%;
    }

    .overlay {
        height: 183%;
    }

    .steps {
        margin-top: 100px;
    }

    .goals, .track-progress, .results {
        margin-left: 15px;
        margin-right: 15px;
    }

    .track-progress, .results {
        margin-top: 50px;
    }



    .media {
        margin-left: 10px;
        margin-right: 10px;
    }

    .media-heading {
        margin-top: 150px;
    }

    .info-2 {
        margin-top: 15px;
    }

    .text-input, #message {
        width: 80%;
    }

    .testimonials-img-1, .testimonials-img-2, .testimonials-img-3 {
        margin-left: 20px;
    }
    
    .testimonials-img-2, .testimonials-img-3 {
        margin-top: 40px;
    }
}